@import url("https://fonts.googleapis.com/css2?family=Anta&display=swap");
.fa-bell {
  color: #29a5c7;
  font-size: 20;
  padding: 0 5px; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif; }

.ancho-650 {
  max-width: 650px;
  margin: auto; }

.boton {
  background-color: #011627;
  color: #fdfffc;
  width: 50%;
  padding: 10px;
  margin: 5%; }

@keyframes latido {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.4); }
  100% {
    transform: scale(1); } }

@keyframes arcoiris {
  0% {
    background-color: #f93131;
    color: white;
    text-decoration: underline; }
  20% {
    background-color: #f99531; }
  40% {
    background-color: #3ef931;
    color: black; }
  60% {
    background-color: #3163f9;
    color: white; }
  80% {
    background-color: #ba31f9; }
  100% {
    background-color: #f93131; } }

.header {
  background-image: linear-gradient(to top, #233f54, #418aaeaa); }

.main {
  min-height: 80vh; }
  .main h1 {
    text-align: center;
    font-family: "Anta", sans-serif;
    padding: 10px; }
  .main .ancho-650 {
    max-width: 650px;
    margin: auto; }
  .main .seccion-contacto {
    border: 1px solid black;
    margin: 20px;
    padding: 10px;
    background-color: #ffffef;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .main .seccion1-index {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 400px);
    grid-template-areas: "imagen-grande" "img-1" "img-2" "img-3" "img-4";
    max-width: 760px;
    margin: auto; }
    .main .seccion1-index .imagen-grande {
      grid-area: imagen-grande;
      background-image: url("../resources/fotos/grupal.jpg");
      background-size: cover;
      color: white; }
    .main .seccion1-index .img-1 {
      grid-area: img-1;
      background-image: url("../resources/fotos/pan.jpg");
      background-size: cover;
      color: white; }
    .main .seccion1-index .img-2 {
      grid-area: img-2;
      background-image: url("../resources/fotos/reposteria.jpg");
      background-size: cover;
      color: white; }
    .main .seccion1-index .img-3 {
      grid-area: img-3;
      background-image: url("../resources/fotos/desfile.jpg");
      background-size: cover;
      color: white; }
    .main .seccion1-index .img-4 {
      grid-area: img-4;
      background-image: url("../resources/fotos/tortas.jpg");
      background-size: cover;
      color: white; }
  .main .seccion1-index .imagen-grande img {
    width: 300px; }
  .main .seccion1-index h2 {
    font-family: Arial, Helvetica, sans-serif; }
  .main .seccion1-index img {
    height: 175px; }
  .main .articulos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; }
    .main .articulos .seccion-uno {
      background-color: pink;
      color: #011627;
      text-align: center;
      padding: 20px;
      border: solid #011627 3px;
      width: 300px;
      margin: 10px; }
      .main .articulos .seccion-uno button {
        transition: .5s ease-in-out; }
        .main .articulos .seccion-uno button:hover {
          transform: translate(0, 30px) rotateZ(10deg); }
    .main .articulos .seccion-dos {
      background-color: #5c5cfb;
      color: #011627;
      text-align: center;
      padding: 20px;
      border: solid #011627 3px;
      width: 300px;
      margin: 10px; }
      .main .articulos .seccion-dos h3 {
        animation-name: latido;
        animation-duration: 3s;
        animation-iteration-count: infinite; }
    .main .articulos .seccion-tres {
      background-color: #fab128;
      color: #011627;
      text-align: center;
      padding: 20px;
      border: solid #011627 3px;
      width: 300px;
      margin: 10px; }
      .main .articulos .seccion-tres form {
        display: flex;
        flex-direction: column; }
        .main .articulos .seccion-tres form input {
          border-radius: 5px;
          padding: 10px;
          margin: 10px;
          text-align: center;
          transition: scale .3s ease-in-out; }
          .main .articulos .seccion-tres form input:focus {
            transform: scale(1.05); }
  @media (min-width: 700px) {
    .main .seccion1-index {
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(2, 200px);
      grid-template-areas: "imagen-grande imagen-grande img-1 img-2" "imagen-grande imagen-grande img-3 img-4"; } }

/*
button{
    @extend .boton;
}
*/
footer {
  background-color: #db4992; }
