.main {
    //background-image: linear-gradient(to bottom, #ffbf3f,  #ffbf3faa);
    //background-image: linear-gradient(to top, #233f54,  #418aaeaa);
    // % del alto del navegador
    min-height: 80vh;

    h1 {
        text-align: center;
        font-family: $fuente-titulo;
        padding: 10px;
    }

    .texto {
        max-width: 80vw;
        margin: auto;
        text-align: justify;
    }

    .ancho-650 {
        max-width: 650px;
        margin: auto;
    }

    // .container {
    //     display: flex;
    //     justify-content: space-evenly;
    //     flex-direction: row;
    // }

    .form-contacto {
        border: 1px solid black;
        margin: 20px;
        padding: 20px;
        background-color: #effbff;        
        margin: auto;        
        display: flex;
        flex-direction: column;
        align-items: center;        
    }

    .seccion1-index {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, 400px);
        grid-template-areas:
            "imagen-grande"
            "img-1"
            "img-2"
            "img-3"
            "img-4"
        ;
        max-width: 760px;
        margin: auto;

        .imagen-grande {
            grid-area: imagen-grande;
            background-image: url('../resources/fotos/grupal.jpg');
            background-size: cover;
            color: white;
        }

        .img-1 {
            grid-area: img-1;
            background-image: url('../resources/fotos/pan.jpg');
            background-size: cover;
            color: white;
        }

        .img-2 {
            grid-area: img-2;
            background-image: url('../resources/fotos/reposteria.jpg');
            background-size: cover;
            color: white;
        }

        .img-3 {
            grid-area: img-3;
            background-image: url('../resources/fotos/desfile.jpg');
            background-size: cover;
            color: white;

        }

        .img-4 {
            grid-area: img-4;
            background-image: url('../resources/fotos/tortas.jpg');
            background-size: cover;
            color: white;
        }
    }

    .seccion1-index .imagen-grande img {
        width: 300px;
    }

    .seccion1-index h2 {
        font-family: Arial, Helvetica, sans-serif;
    }

    .seccion1-index img {
        height: 175px;
    }

    .articulos {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

        .seccion-uno {
            // Mixin
            @include fondo-destacado(pink);

            button {
                transition: .5s ease-in-out;

                &:hover {
                    transform: translate(0, 30px) rotateZ(10deg);
                }
            }
        }

        .seccion-dos {
            @include fondo-destacado (#5c5cfb);

            h3 {
                animation-name: latido;
                animation-duration: 3s;
                // Cuantas veces quiero que se repita
                animation-iteration-count: infinite;
            }
        }

        .seccion-tres {
            @include fondo-destacado(#fab128);

            form {
                display: flex;
                flex-direction: column;

                input {
                    border-radius: 5px;
                    padding: 10px;
                    margin: 10px;
                    text-align: center;
                    transition: scale .3s ease-in-out;

                    &:focus {
                        // background-color: #ffbf3fb6;
                        transform: scale(1.05);
                    }
                }
            }
        }
    }

    @media (min-width: 700px) {
        .seccion1-index {
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(2, 200px);
            grid-template-areas:
                "imagen-grande imagen-grande img-1 img-2"
                "imagen-grande imagen-grande img-3 img-4";
        }
    }
    @media (min-width: 1200px) {
        .container {
            display: flex;
            justify-content: space-evenly;
            flex-direction: row;
            align-items: center;
        }
    }
}


/*
button{
    @extend .boton;
}
*/