// Paleta de Colores
$magenta:#db4992;
$blanco: #fdfffc;
$turquesa: #41EAD4;
$rojo: #ff0022;
$azul: #011627;


//Fuentes
@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');

$fuente-titulo: "Anta", sans-serif;

//Iconos
.fa-bell{
    color: rgb(41, 165, 199);
    font-size: 20;
    padding: 0 5px;
}